/* src/components/Footer.css */

.footer {
    background-color: var(--section-bg-color);
    padding: 2rem 0;
    text-align: center;
  }
  
  .footer p {
    font-size: 1rem;
    color: var(--text-color);
  }